body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 68px;
  color: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 20px;
  background: url(../img/intro.png);
  background-size:contain;
  background-repeat: no-repeat;
  line-height: 1.2;

}


h2 {
  font-size: 35px;
  line-height: 1.2;
}

h3 {
  font-size: 36px;
  text-align: right;
}

h1, h2, h3 {
  font-family: 'Anton', sans-serif;
}

p, a {
  font-family: 'Lato', sans-serif;
}

.a-propos {
  background: #2f2f58;

}





