html {
  scroll-behavior:smooth;
  background-image: url(../img/mur-tagué.png);
}

body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  width: 100%;
  margin: 20px 0;
}

header {
  background: hsl(0, 0%, 100%);
  margin-top: 0;
}

h1 {
  font-size: 69px;
  color: #ffffff;
  padding-left: 20px;
  background: url(../img/intro.png);
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 1.2;
  margin:0;
}


nav {
  padding-top: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #2f2f58;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 60px;
}

.cta {
  border: 1px solid #2f2f58;
  margin-bottom: 20px;
  padding: 5px 0;
  width: 100%;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Anton', sans-serif;
}

h2 {
  font-size: 35px;
  line-height: 1.2;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  color: #2f2f58;
}

h3 {
  font-size: 32px;
  text-align: right;
}

p, a {
  font-family: 'Lato', sans-serif;
  
}

.a-propos {
  background: #2f2f58;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 20px
}

.street-art {
  background:#dbd56a;
  padding: 20px
}

.street-art-title {
  color:#dbd56a;
}

.skate {
  background: #2f2f58;
  padding: 20px
}

.skate-title {
  color:#2f2f58;
}

.musique {
  background:#dbd56a;
  padding: 20px
}

.musique-title {
  color:#dbd56a;
}

.street-food {
  background: #2f2f58;
  padding: 20px
}

footer{
  background: #ffffff;
  padding: 20px
}

.contact-title {
  color: #ffffff;
}

strong {
  font-weight: 900;
}





